/* My Portfolio */

.pf-header {
  position: fixed;
  top: 0;
  bottom: 10;
  width: 100%;
  background: #333;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 1.5em;
}

li {
  color: #fff;
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  color: #0f1;
}

.home,
.about,
.projects,
.contact {
  min-height: 60vh;
  text-align: center;
}

/* .contact {
  height: 90vh;
} */
body {
  padding-top: 4em;
}
